/* ////........About Me........//// */

.about-me {
    background-color: black;
    padding: 6rem 0;
  }
  
  .about-me .about-heading {
    color: #db5c77;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  
  .about-content img {
    height: 200px;
    width: 150px;
    border-radius:30%;
    
  }
  
  .about-content p {
    font-size: 1.2rem;
    color: #f0f0e6;
    padding: 0 2.3rem;
    text-align: center;
  }
  
  .skills .skills-heading {
    font-size: 2rem;
    font-weight: 600;
    color: #db5c77;
    text-align: center;
  }
  
  .about-me .about-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .about-content .left-content {
    
    text-align: center;
  }
  
  .about-content .right-content {
    
  }
  
  /* ///.....Skill Bar....../// */
  
  .skills-bar {
    padding: 25px 30px;
    border:2px solid white;
  }
  
  .skills-bar .bar {
    margin: 25px 0;
  }
  
  .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: #f0f0e6;
  }
  
  p span{
    padding-left: 30px;
  }
  
  
  .navbar.solid {
    background-color:black;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px rgb(7 55 74 / 20%);
    z-index: 500;
  }
  
  .navbar.solid .navbar-brand {
    display: inline-block;
    color: #f0f0e6;
    transition: color 1s ease 0s;
  }
  
  .navbar-brand {
    display: none;
    color: #f0f0e6;
    font-weight: 400;
  }
  
  .work-arrow {
    margin: 2rem 0;
  }
  
  .work-arrow a {
    font-size: 1rem;
    text-decoration: none;
    color: #db5c77;
  }
  
  .work-arrow-2 {
    margin: 2rem 0;
  }
  
  .work-arrow-2 a {
    font-size: 1rem;
    text-decoration: none;
    color: #db5c77;
    display: none;
  }
 