/* ////........About Me........//// */

.about-me {
    background-color: black;
    padding: 6rem 0;
  }
  
  .about-me .about-heading {
    color: #db5c77;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  
  .about-content img {
    height: 200px;
    width: 150px;
    border-radius:30%;
    
  }
  
  .about-content p {
    font-size: 1.2rem;
    color: #f0f0e6;
    padding: 0 2.3rem;
    text-align: center;
  }
  
  .skills .skills-heading {
    font-size: 2rem;
    font-weight: 600;
    color: #db5c77;
    text-align: center;
  }
  
  .about-me .about-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .about-content .left-content {
    flex-basis: 45%;
    text-align: center;
  }
  
  .about-content .right-content {
    flex-basis: 45%;
  }
  
  /* ///.....Skill Bar....../// */
  
  .skills-bar {
    padding: 25px 30px;
  }
  
  .skills-bar .bar {
    margin: 25px 0;
  }
  
  .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: #f0f0e6;
  }
  
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 550px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  .bar .progress-line span {
    position: absolute;
    background: #db5c77;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .progress-line .HTML {
    width: 80%;
  }
  .progress-line .CSS {
    width: 70%;
  }
  .progress-line .Bootstrap {
    width: 50%;
  }
  .progress-line .JavaScript {
    width: 75%;
  }
  .progress-line .C {
    width: 50%;
  }
  .progress-line .ReactJS {
    width: 50%;
  }
  
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -12px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #f0f0f0;
  }
  
  .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: black;
    font-size: 12px;
    font-weight: 700;
    background: #f0f0f0;
    padding: 1px 8px;
    border-radius: 3px;
  }
  
  .progress-line .HTML::after {
    content: "80%";
  }
  .progress-line .CSS::after {
    content: "70%";
  }
  .progress-line .Bootstrap::after {
    content: "50%";
  }
  .progress-line .JavaScript::after {
    content: "75%";
  }
  .progress-line .C::after {
    content: "50%";
  }
  .progress-line .ReactJS::after {
    content: "50%";
  }
  
  
  .navbar.solid {
    background-color:black;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px rgb(7 55 74 / 20%);
    z-index: 500;
  }
  
  .navbar.solid .navbar-brand {
    display: inline-block;
    color: #f0f0e6;
    transition: color 1s ease 0s;
  }
  
  .navbar-brand {
    display: none;
    color: #f0f0e6;
    font-weight: 400;
  }
  
  .work-arrow {
    margin: 2rem 0;
  }
  
  .work-arrow a {
    font-size: 1rem;
    text-decoration: none;
    color: #db5c77;
  }
  
  .work-arrow-2 {
    margin: 2rem 0;
  }
  
  .work-arrow-2 a {
    font-size: 1rem;
    text-decoration: none;
    color: #db5c77;
    display: none;
  }
 